#page {
  display: flex;
  background-color: #d1d5db;
}

input {
  margin: 5px 5px 5px 5px;
}

form {
  flex: 1;
  padding: 20px;
  text-align: center;
}

table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

td,
tr {
  border: 1px solid black;
}

h1 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: #121828;
}

p {
  color: red;
}

p:hover {
  cursor: pointer;
}

img {
  width: 75px;
  height: 75px;
}

button {
  margin: 5px 5px 5px 5px;
}
